<f:if condition="{processedRow.header}">
    <strong><f:translate key="LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:header" /></strong>
    {processedRow.header} (raw={row.header})<br>
</f:if>
<f:if condition="{processedRow.tx_rezeptev1_mengeundnamederzutat}">
    <strong><f:translate key="LLL:EXT:rezepte_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_rezeptev1_mengeundnamederzutat" /></strong>
<br><f:for each="{processedRow.tx_rezeptev1_mengeundnamederzutat}" as="item">
    <ul>
        <li>
            <f:translate key="LLL:EXT:rezepte_v1/Resources/Private/Language/locallang_db.xlf:tx_rezeptev1_mengeundnamederzutat.tx_rezeptev1_menge" /> {item.tx_rezeptev1_menge} (id={item.uid})<br/>
        </li>
    </ul>
</f:for>
</f:if>
<f:if condition="{processedRow.tx_rezeptev1_zubereitung}">
    <strong><f:translate key="LLL:EXT:rezepte_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_rezeptev1_zubereitung" /></strong>
    {processedRow.tx_rezeptev1_zubereitung} (raw={row.tx_rezeptev1_zubereitung})<br>
</f:if>
<f:if condition="{processedRow.image}">
    <strong><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_general.xlf:LGL.images" /></strong>
<br><f:for each="{processedRow.image}" as="item">
    <ul>
        <li>
    <ul>
        <f:for each="{item.uid_local}" as="file">
            <li><f:translate key="LLL:EXT:lang/locallang_tca.xlf:sys_file_reference.uid_local" /> {file.table}|{file.uid}|{file.title} (id={item.uid})</li>
        </f:for>
    </ul>
        </li>
    </ul>
</f:for>
</f:if>
