<f:if condition="{processedRow.tx_zweiboxv1_bildbox1}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_bildbox1" /></strong>
<br><f:for each="{processedRow.tx_zweiboxv1_bildbox1}" as="item">
    <ul>
        <li>
    <ul>
        <f:for each="{item.uid_local}" as="file">
            <li><f:translate key="LLL:EXT:lang/locallang_tca.xlf:sys_file_reference.uid_local" /> {file.table}|{file.uid}|{file.title} (id={item.uid})</li>
        </f:for>
    </ul>
        </li>
    </ul>
</f:for>
</f:if>
<f:if condition="{processedRow.tx_zweiboxv1_textbox1}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_textbox1" /></strong>
    {processedRow.tx_zweiboxv1_textbox1} (raw={row.tx_zweiboxv1_textbox1})<br>
</f:if>
<f:if condition="{processedRow.tx_zweiboxv1_linkbox1}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_linkbox1" /></strong>
    {processedRow.tx_zweiboxv1_linkbox1} (raw={row.tx_zweiboxv1_linkbox1})<br>
</f:if>
<f:if condition="{processedRow.tx_zweiboxv1_bildbox2}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_bildbox2" /></strong>
<br><f:for each="{processedRow.tx_zweiboxv1_bildbox2}" as="item">
    <ul>
        <li>
    <ul>
        <f:for each="{item.uid_local}" as="file">
            <li><f:translate key="LLL:EXT:lang/locallang_tca.xlf:sys_file_reference.uid_local" /> {file.table}|{file.uid}|{file.title} (id={item.uid})</li>
        </f:for>
    </ul>
        </li>
    </ul>
</f:for>
</f:if>
<f:if condition="{processedRow.tx_zweiboxv1_textbox2}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_textbox2" /></strong>
    {processedRow.tx_zweiboxv1_textbox2} (raw={row.tx_zweiboxv1_textbox2})<br>
</f:if>
<f:if condition="{processedRow.tx_zweiboxv1_linkbox2}">
    <strong><f:translate key="LLL:EXT:zweibox_v1/Resources/Private/Language/locallang_db.xlf:tt_content.tx_zweiboxv1_linkbox2" /></strong>
    {processedRow.tx_zweiboxv1_linkbox2} (raw={row.tx_zweiboxv1_linkbox2})<br>
</f:if>
